* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(28, 39, 100);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: gold;
}

nav {
    position: fixed;
    width: 100%;
    height: max-content;
    text-align: center;
    /* background-color: rgb(15, 15, 35); */
    background-color: white;
    box-shadow: 0px 0px 20px 1px black;
    animation: animatezoom 0.7s
}

nav :hover {
    color: rgb(255, 0, 0);
    background-color: cyan;
}

nav a {
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    font-family: "Berlin Sans FB";
    display: inline-block;
    color: black;
    position: relative;
}

.banner {
    background-image: url(https://i.pinimg.com/736x/c9/32/77/c9327729dcba78fadd30fb0fa31e2723.jpg);
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    /* animation: animatezoom 0.7s */
}

.dpulogo {
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 2%;
}

.clgnm {
    color: rgb(187, 0, 0);
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    padding-top: 60px;
    border-radius: 300px;
    /* background-color: rgba(255, 228, 188, 0.906); */
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 1px black;
}

.bottom {
    /* position: fixed; */
    width: 100%;
    height: max-content;
    background-color: rgb(170, 255, 0);
    margin-top: 1000px;
}

.animate {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, green, orange, red);
    letter-spacing: 2px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 10s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 1000px;
    padding: 20px;
    padding-top: 80px;
    width: 800px;
    text-align: center;
    color: yellow;
}

.iprcell {
    font-size: 30px;
    color: rgb(45, 6, 241);
    font-family: Papyrus;
}


.contact {
    font-size: 20px;
    font-family: monospace;
    float: left;
    margin: 20px;
}

.content {
    font-family: Arial;
    width: 550px;
    padding-top: 30px;
    padding-left: 60px;
    color: white;
    font-size: 25px;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    /* animation: wipe-enter 1s; */
}

iframe {
    padding-top: 20px;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 500px;
    height: 350px;
    margin-top: 40PX;
    border-radius: 15px;
    border-color: white;
    box-shadow: 0px 0px 30px 10px black;
    animation: animatezoom 0.7s
}

.slider figure div {
    float: left;
    width: 20%;
}

.slider figure img {
    width: 500px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    animation: animate 20s infinite;
}

@keyframes animate {

    /* 0%{left:0;} */
    10% {
        left: 0;
    }

    15% {
        left: -100%;
    }

    20% {
        left: -100%;
    }

    25% {
        left: -200%;
    }

    30% {
        left: -200%;
    }

    35% {
        left: -300%;
    }

    40% {
        left: -300%;
    }

    45% {
        left: -400%;
    }

    50% {
        left: -400%;
    }

    55% {
        left: -300%;
    }

    60% {
        left: -300%;
    }

    65% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    80% {
        left: -100%;
    }

    85% {
        left: 0;
    }
}

.about {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comic Sans MS';
    width: 600px;
    padding-top: 90px;
    /* padding-left: 40px; */
    color: white;
    font-size: 25px;
    /* float: left; */
    /* padding-bottom: 50px; */
}

.dsaii {
    color: gold;
}

.clglink {
    color: gold;
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.zoom {
    animation: wipe-enter 1s;
}

@keyframes wipe-enter {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.team {
    float: left;
    padding: 0%;
    width: fit-content;
    height: fit-content;
    /* background-color:rgba(135, 207, 235, 0.374); */
    padding-top: 90px;
}

.member {
    border-radius: 10px;
    height: 250px;
    float: left;
    margin: 60px;
    margin-top: 0px;
    padding: 10px;
    background-color: blanchedalmond;
    box-shadow: 5px 5px 15px 2px black;
}